#toc {
    margin: 0;
    padding: 0;
    width: 11em;
    left: -18.8em;
    top: 0;
    height: 19em;
    position: fixed;
    overflow-y: hidden;
    background-color: #2b2b2b;
    transition: right 0.4s ease-in-out;
}

#toc:hover {
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#toc-content {
    color: white;
    padding: 6em 1em;
}
#toc-label {
    display: inline-block;
    background: #37abc8;
    position: fixed;
    left: 0;
    top: 1.2em;
    opacity: 0.67;
    z-index: 100;
    font-size: 14px;
    font-family: Helvetica, arial, freesans, clean, sans-serif;
}

#toc-label a {
    color: white;
    display: block;
    width: 5.1em;
    padding: 0.3em 0 0.3em 1em;
}

#toc-label:hover {
    opacity: 1;
}


body, table, td, th {
    font-size:medium;
}
table, td, th {
    border: 1px solid #ddd;
    text-align:  center;
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th, td {
    padding: 6px;
}

col.number{
    width: 3%;
}

col.name{
    width: 25%;
}

col.sources{
    width: 13%;
}

.legendcont{
    width:100%;
    height: 25px;
}

.legend{
    width: 18%;
    padding: 5px;
    margin: 2px;
    text-overflow: ellipsis;
}

.Error{
    background-color: DeepSkyBlue;
}

.worse{
    background-color: red;
}

.better{
    background-color: green;
}

.nowyes{
    background-color: yellow;
}

.TimeLimit{
    background-color: grey;
}

.nontermination{
    background-color: red;
}

.Terminate{
    background-color: green;
}

.Unknown{
    background-color: yellow;
}

.TimeLimit{
    background-color: grey;
}

.z3 {
    border-right: 3px solid black !important;
}

.pefc {
    border: 2px dashed #f00;
}

tr.upper {
    border-top: 3px solid black !important;
}

.name{
    width: 20%;
    text-overflow: ellipsis;
}
